.icon {
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding:10px;
}

svg {
    margin-top: 3px;
    margin-right: 10px;
}

.btn {
    padding: 7px;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    position: absolute;
    top: 25px;
    left: 25px;
}
.btn:hover {
    background-color: pink;
}
