@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
    /* margin: 0; */
    font-family: "Quicksand", sans-serif;
    color: #333;
}

body {
    background-color: rgb(217, 189, 179);
}

    .header {
        padding: 20px;
        display: flex;
        align-items: center;
        /* max-width: auto; */
        /* margin: 0 auto; */
        border-bottom: 1px solid black;
    }

    .navbar h1 {
        color: #f1356d;
    }

    .navbar h1 {
        margin-right: auto;
    }

    .navbar a {
        color: #f1356d;
    }

    /* h2,h3 {
        text-align: center;
    } */
