table {
    border: "2px solid black"; 
    width: "60vw"; 
    text-align: "center"; 
    margin: "auto"; 
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:last-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:last-child th:last-child {
    border-top-right-radius: 10px;
}
